* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.dice {
    width: 8vmin;
    height: 8vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: whitesmoke;
    font-size: 16px;
    background-color: hotpink;
    z-index: 10;
}

.board {
    width: 90vmin;
    height: 90vmin;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);
    /* gap: 1px; */
    background-color: grey;
}


.inner-board {
    width: 90vmin;
    height: 90vmin;
    position: absolute;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);
    /* gap: 1px; */
}

.child {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    /* width: 0vmin;
    height: 0vmin; */
    border-top: 3vmin solid red;
    border-right: 3vmin solid skyblue;
    border-bottom: 3vmin solid yellow;
    border-left: 3vmin solid green;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.skyblue {
    background-color: skyblue;
}

.yellow {
    background-color: yellow;
}

.center, .red, .green, .skyblue, .yellow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-green {
    /* width: 0vmin;
    height: 0vmin; */
    border-top: 3vmin solid red;
    border-right: 3vmin solid red;
    border-bottom: 3vmin solid green;
    border-left: 3vmin solid green;
}

.red-skyblue {
    /* width: 0vmin;
    height: 0vmin; */
    border-top: 3vmin solid red;
    border-right: 3vmin solid skyblue;
    border-bottom: 3vmin solid skyblue;
    border-left: 3vmin solid red;
}

.green-yellow {
    /* width: 0vmin;
    height: 0vmin; */
    border-top: 3vmin solid green;
    border-right: 3vmin solid yellow;
    border-bottom: 3vmin solid yellow;
    border-left: 3vmin solid green;
}

.yellow-skyblue {
    /* width: 0vmin;
    height: 0vmin; */
    border-top: 3vmin solid skyblue;
    border-right: 3vmin solid skyblue;
    border-bottom: 3vmin solid yellow;
    border-left: 3vmin solid yellow;
}


.board-cell-2x2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.board-cell-1x2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.board-cell-1x1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.board-cell-2x2 img, .board-cell-1x2 img, .board-cell-1x1 img {
    width: 75%;
    align-self: center;
}